@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Josefin+Sans&family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Josefin+Sans&family=Libre+Baskerville&family=Lora&family=Roboto+Slab:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
p{
    font-family: 'Lora', serif;
}
body{
    background:url(/assets/backgrounds/15.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
}


header {
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(153deg, #0000004a, #2674ad42);
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 0px 54px 0px 27px;
}
.logo{
    cursor: pointer;
    border-radius: 50%;
    opacity: 70%;
    transition: 500ms;
}
.logo:hover{
    opacity: 100%;
}
.navlinks {
    list-style: none;    
}

.navlinks li{
    display: inline-block;
    padding: 0 20px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    transition: all 500ms;
    font-weight: 1000;
}
.navlinks a{
    display: inline-block;
    padding: 0 20px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    transition: all 500ms;
    font-weight: 1000;
}

.navlinks li, a:hover {
            
    color: #000000;
    transform: scale(1.05);
    opacity: 1.01;
    text-decoration: none;
}

/* BOX ATTRIBUTES */

.bd-wrapper {
    padding: 70px;
    margin-right: 100px;
}
.bd-boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 80px;
    align-content: center;
}
.bd-text p {
    text-align: justify;
    color: black;
    font-weight: 500;
    margin-bottom: 5px;
}
.bd-text-images {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    /* align-content: center; */
    transition: 500ms ease;
}
.bd-text-images img{
    transition: 500ms;
    border-radius: 10px;
}
#img1:hover{
    transform: scale(2);
    border-radius: 50px;
}
#img2:hover{
    transform: scale(2);
    border-radius: 50px;
}
#img3:hover{
    transform: scale(2);
    border-radius: 50px;
}
#img4:hover{
    transform: scale(2);
    border-radius: 50px;
}
#img5:hover{
    transform: scale(2);
    border-radius: 50px;
}
.bd-text h1{
    font-size: 75px;
    font-family: 'Alfa Slab One', cursive;
    color: white;  
    text-align: center;
    transition: 400ms ease;
}
.bd-text h1:hover{
    color: black;
    transform: scale(1.05);
}
.hobby-list {
    padding: 0;
    list-style: circle;
}
.hobby-list li{
    color: black;
    font-family: 'Roboto Slab', serif;
    padding: 10px 0px;
}
#pigbick:hover{
    transform: scale(1.05);
    opacity: 1;
}
#pigbick{
    transition: 500ms;
    border-radius: 25px;
    opacity: 0.5;
}
.footer-dark {
    padding: 27px 0px 14px 0px;
    color: #f0f9ff;
    background-color: #282d32;
    height: auto;
}


.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}



@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}


.footer-dark .item.social {
    text-align: end;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
    transition: 500ms;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
h6{
    text-align: justify-all;
}
.col.item.social h6 {
    margin-right: 57px;
    padding-bottom: 15px;
}



